@charset "UTF-8";

.button {
    background: #fff;
    color: cornflowerblue;
    border: 2px double cornflowerblue;
    width: 27%;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 0;
}

.btn_del {
    background: #fff;
    color: cornflowerblue;
    border: 2px double cornflowerblue;
    width: 30%;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 0;
}

.btn_edit {
    background: #fff;
    color: cornflowerblue;
    border: 2px double cornflowerblue;
    width: 30%;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 0;

    margin-right: 10px;
}

label {
    width: 80%;
    display: inline-block;
    line-height: 30px;
    border: double #32a1ce;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 0;
    margin: 10px;
    color: cornflowerblue;
}

.div {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    border: 5px solid cornflowerblue;
    border-radius: 10px 20px;
}

.table {
    margin: auto;
    width: 80%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px double cornflowerblue;
    border-radius: 10px;
}

.tr {
    text-align: left;
}

caption {
    text-align: left;
}

th, td {
    border-bottom: 1px solid #444444;
}

.btnDiv {
    margin-bottom: 10px;
}

.input {
    width: auto;
    height: 15px;
    margin: 5px;
}

.popDiv {
    width: 250px;
    line-height: 20px;
    border: double #32a1ce;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 0;
    margin: 10px;
    color: cornflowerblue;
    text-align: center;
}

.popLab {
    width: 80%;
    padding: 10px;
    text-align: left;
}

.pBtn {
    background: #fff;
    color: cornflowerblue;
    border: 2px double cornflowerblue;
    width: 40%;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 0;
}

.headText{
    font-size: 25px;
}

.tbody{
	width: 80%
}